{% extends "base.html" %}

{% load staticfiles %}

{% block page_content %}

    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <div class="row">
                    <div class="col-md-6">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">Fricke Suppliers</h3>
                            <p class="text-muted m-b-30 font-13">
                                Year Query</p>
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <form method="POST">
                                         <label class="col-sm-12">Year Select</label>
                                                <select id="yearselect" name="yearselect" class="form-control">
                                                    <option id="2015" value="2015">2015</option>
                                                    <option id="2016" value="2016">2016</option>
                                                    <option id="2017" value="2017">2017</option>
                                                    <option id="2018" value="2018">2018</option>
                                                </select>
                                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
                                        <br>
                                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                                            Submit
                                        </button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock page_content %}